 body {
    background-color:#fdf0d5 ;
    font-family: sans-serif  ;
    color: #003049;
}
h1{
    color:#669bbc ;
    font-size: 2.5rem;
}
header{
    padding: 1.5rem 2rem ;
    border-bottom: 1px solid #003049;
}
nav a{
    color: #669bbc;
}
main{
    padding: 3rem 3rem;
    max-width: 800px;
    margin: 0 auto;
}
.metodo-titulo {
    font-size: 1.1rem;
    letter-spacing:0.05em ;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    color: #780000;
}
.precio{
    font-weight: bold;
    color: #780000;
}
footer{
    padding: 3rem 3rem;
    border-top: 1px solid #003049;
    color:#669bbc;
}
#contador-tazas {
    font-size: 1.5rem;
    font-weight: bold;
    color: #669bbc;
}
#boton-reservar {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1.25rem;
    background-color: #669bbc;
    color: #fdf0d5;
    border: none;
    font-family: Georgia, serif;
    font-size: 1rem;
    cursor: pointer;
}